<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon/melon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{305,679},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/dir0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/dir1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,137},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/dir2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/dir3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/dir4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,273},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/dir5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{153,137},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{305,137},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testui/self.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,409},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/begin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{153,273},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{325,781},{84,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/capper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{407,679},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/door_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{103,815},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/door_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{177,813},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/door_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{251,813},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,681},{150,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/floor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{153,545},{150,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/floor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{305,545},{150,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/floor_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{153,679},{150,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/frame-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{305,273},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/freeze_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,545},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{1,815},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{389,839},{56,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{389,781},{56,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/select-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{153,409},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/target_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{407,717},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/target_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{325,867},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/water_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{305,409},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{456,911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9402f2de031bb9974719cde23e628b3:de7894f3f3f30d259c4e3663e54271bc:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
